@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    margin: auto;
    font-family: 'Roboto Slab', serif;
    width: 40%;
    background-color: #eeeee4;    ;
    padding: 10px;
}
.colored-div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
